.body-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Align items in a column */
  margin-top: 50px;
  background-color: #d9d9d9d9;
  height: 100vh;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 120px;
}

.hotel-card {
  cursor: pointer;
  width: 80vw;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Set the background color */
}
