.body-content {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-color: #d9d9d9d9;
  height: 100vh;
}

.hotel-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.hotel-card {
  cursor: pointer;
  width: 100vw;
  height: 40vh;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9d9;
  height: 100vh;
}

.search {
  width: 100%;
}

.search-bar-text {
  color: black;
}
